<h1>Twitter accounts</h1>

<%= link_to "Connect a Twitter account", "/auth/twitter", class: "btn btn-primary"  %>

<% @twitter_acounts.each do |twitter_acount| %>
    <div>
        <%= twitter_acount.name %>
    </div>
    <%= link_to "Disconected", twitter_acount, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
<% end %>
    